img{
    max-width: 200px;
}

.border15{
    border-radius: 15px;
}

.media {
    display: flex;
    /* flex-direction: column; */
    width: 240px;
    padding: 5px;
    margin: 5px 0;
    background-color: hsl(120, 39%, 48%);
    
    border-radius: 10px;
    position: relative;
    font-family: "Montserrat", sans-serif;
  }